<%  %><% include("../layouts/header.ejs") %>

<h1>password Reset</h1>


<div>
    <form action="/admin/forget-password" method="post">
        <div>
            <input type="hidden" name="user_id" value="<%= user_id %>">
        </div>
        <div>
            <label for="password"></label>
            <input type="password" name="password" placeholder="enter the password">
        </div>
        <br>
        <div>
            <input type="submit" value="Reset Password">
        </div>
    </form>
</div>

<% include("../layouts/footer.ejs") %>