<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>login if you have an account, else register</h3>
    <nav>
        <ul>
            <li><a href="/register">register</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    </nav>
</body>
</html>